/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    display: flex;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    font-family: 'Open Sans', sans-serif;
    --accent-color: ivory;
    --accent-color3:  #cc00ff;
    --accent-color2: #a300cc;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
    font-size: 1vw;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

footer > a:visited {
    color: white;
}

.picture-half {
    width: 30vw;
    height: 100vh;
    background-image: url('bigpic.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.splash-image {
    color: var(--accent-color);
    background-color: rgba(0, 0, 0, 0.75);
    width: 30wh;
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#splash-text {
    padding-left: 5%;
    font-size: 400%;   
}

.form-half {
    width: 70vw;
    max-height: 100vh;
    color: var(--accent-color);
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.d1 {
    flex-grow: 1;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 15%;
    font-size: min(64px, 2rem);
}

.d2 {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    box-shadow: 10px 0px 10px var(--accent-color);
    background-color: #110;
}

.d2 > p {
    flex-grow: 1;
    font-size: max(12px, 2em);
}

.d2 > form {
    flex-grow: 2;
}

.input_div {
    display: flex;
    flex-direction: column;
}

.input_div > input {
    border-radius: 5px;
    background-color: #110;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.input_div > input:focus {
    outline: none;
    border: 2px solid var(--accent-color2);
}

.input_div > input:valid {
    outline: none;
    border: 2px solid greenyellow;
}

.input_div > input:invalid {
    outline: none;
    border: 2px solid red;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 75%;
}

input[type='submit'] {
    outline: none;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 5px;
    background-color: #000;
    padding-top: 2%;
    padding-bottom: 2%;
}

.d1 > a:link {
    color: var(--accent-color);
    text-decoration: none;
}

.d1 > a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

/* .d1 {
    height: 30vh;
    font-size: max(1rem, 2rem);
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 20%;
}

.d2 {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 20%;
    box-shadow: 10px 0px 10px white;
    background-color: rgb(10, 10, 10);
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'a b'
    'c d'
    'e f'
    'g h';
    gap: 5%;
    row-gap: 10%;
    padding-right: 20%;

    flex-grow: 2;
} 

.input_div {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.input_div > input {
    border: none;
    border-radius: 5px;
}

.input_div > input:focus {
    outline:none;
    border: 2px solid var(--accent-color);
}

.c1 {
    grid-area: a;
}

.c2 {
    grid-area: b;
}

.c3 {
    grid-area: c;
}

.c4 {
    grid-area: d;
}

.c5 {
    grid-area: e;
}

.c6 {
    grid-area: f;
}

input[type='submit'] {
    grid-area: g;
}

form {
    display: flex;
} */
